{% extends 'base.html.twig' %}

{% block title %}Hello ResumerFilmController!{% endblock %}

{% block body %}
    <style>
        .button-retour{
            width: 20px;
            height: 20px;
        }
    </style>

    <div class="example-wrapper">
        <a href="{{ path('app_accueil')}}">
            <img class="button-retour" src="https://icones.pro/wp-content/uploads/2021/02/fleches-iconela-gauche-orange.png">
        </a>

        <h1 class="my-4">Resumé et bande-annonce</h1>

        {% for FilmResumer in FilmResumer %}
            <center>
                <h6 class="my-3">{{ FilmResumer.resumer }}</h6>
                <iframe width="560" height="315" src="{{ FilmResumer.bandeAnnonce }}" title="YouTube video player" frameborder="0" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe>
            </center>
        {% endfor %}

    </div>
{% endblock %}